<!-- Header -->
<header class="header">
  <nav class="navbar navbar-expand-lg header-nav">
    <div class="navbar-header" style="height: 100%">
      <a id="mobile_btn" href="javascript:void(0);">
        <span class="bar-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
      <a href="/home" style="height: 100%" class="navbar-brand logo">
        <img
          style="height: 100%"
          src="/backEnd/assets/img/logo5.png"
          class="img-fluid"
          alt="Logo"
        />
      </a>
    </div>
    <div class="main-menu-wrapper" style="flex-grow: 1">
      <div class="menu-header">
        <a href="index.html" class="menu-logo">
          <img
            src="/frontEnd/assets/img/logo.png"
            class="img-fluid"
            alt="Logo"
          />
        </a>
        <a id="menu_close" class="menu-close" href="javascript:void(0);">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <ul class="list-unstyled text-center" style="margin: 0">
        <li class="has-submenu">
          <a
            href="/All_Doctors"
            style="padding: 5px 10px; background: #ddd; border-radius: 4px"
            >All Doctors
          </a>
        </li>
      </ul>
    </div>
    <ul class="nav header-navbar-rht">
      <li class="nav-item contact-item">
        <div class="header-contact-img">
          <i class="far fa-hospital"></i>
        </div>
        <div class="header-contact-detail">
          <p class="contact-header">Contact</p>
          <p class="contact-info-header">+1 315 369 5943</p>
        </div>
      </li>

      <% if (!user) { %>
      <li class="nav-item">
        <a class="nav-link header-login" href="/pationt/signIn"
          >login / Signup
        </a>
      </li>
      <% } else if(user) { %> <% if (!doctor) { %>
      <li>
        <a
          class="btn btn-outline-secondary"
          style="border: 1px solid #ddd"
          href="/doctor/signIn"
          >Sign In Doctor</a
        >
      </li>
      <% } %>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fa fa-fw fa-user primary-i"></i>
          U/account
        </button>
        <div
          class="dropdown-menu MyAccount"
          aria-labelledby="dropdownMenuButton"
          style="right: 0 !important; left: auto !important"
        >
          <p class="dropdown-item user-aria">
            <a href="/userProfile/<%= user.id %>">
              <% if (user.image) { %> <img class="float-left"
              src="/backEnd/assets/img/patients/<%= user.image.split("--")[0]
              %>" width="49" height="49" /> <% } else { %>
              <img
                class="float-left"
                src="/backEnd/assets/img/users/avatar.png"
                width="49"
                height="49"
              />
              <% } %>
            </a>

            <span class="float-left ml-2">
              <%= user.fName %> <%= user.lName %>
              <br />
              <%= user.email %>
            </span>
          </p>

          <a class="dropdown-item" href="/pationt/pationt_dashpored"
            ><i class="far fa-fw fa-bell"></i> Dashpored <span>80</span></a
          >
          <a class="dropdown-item" href="/pationt/pationt_setings"
            ><i class="fa fa-fw fa-user"></i> Settings</a
          >
          <a class="dropdown-item" href="/pationt/pationtfavoritDoctors"
            ><i class="far fa-fw fa-heart"></i> Prefere</a
          >
          <a class="dropdown-item" href="#"
            ><i class="far fa-fw fa-envelope"></i> Contact Us</a
          >
          <% if (doctor) { %>
          <a class="dropdown-item" href="/doctor/doctour_dashpored"
            ><i class="far fa-fw fa-envelope"></i> Doctor Account</a
          >
          <% } %>

          <form action="/pationt/signOut" method="post">
            <button class="dropdown-item">
              <i class="fa fa-fw fa-sign-out-alt"></i>Sign Out
            </button>
          </form>
        </div>
      </div>
      <% } %>
    </ul>
  </nav>
</header>
<!-- /Header -->
