<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
  <div class="profile-sidebar">
    <div class="widget-profile pro-widget-content">
      <div class="profile-info-widget">
        <a href="#" class="booking-doc-img">
          <img
            src="/backEnd/assets/img/patients/<%= user.image.split("--")[0] %>"
            alt="User Image"
          />
        </a>
        <div class="profile-det-info">
          <h3><%= user.fName + " " + user.lName %></h3>
          <div class="patient-details">
            <% if (user.Date_brith) { %>
              <h5><i class="fas fa-birthday-cake"></i><%= user.Date_brith.slice(0 , user.Date_brith.indexOf("T")) %></h5>
            <% } %>
            <% if (user.addres) { %>
              <h5 class="mb-0">
                <i class="fas fa-map-marker-alt"></i> <%= user.addres %>
              </h5>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-widget">
      <nav class="dashboard-menu">
        <ul>
          <li class="<%= URL == "/pationt_dashpored" ? "active" : "" %>">
            <a href="/pationt/pationt_dashpored">
              <i class="fas fa-columns"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="<%= URL == "/pationtfavoritDoctors" ? "active" : "" %>">
            <a href="/pationt/pationtfavoritDoctors">
              <i class="fas fa-bookmark"></i>
              <span>Favourites</span>
            </a>
          </li>
          <!-- <li class="<%= URL == "/pation_chat" ? "active" : "" %>">
            <a href="chat.html">
              <i class="fas fa-comments"></i>
              <span>Message</span>
              <small class="unread-msg">23</small>
            </a>
          </li> -->
          <li class="<%= URL == "/pationt_setings" ? "active" : "" %>">
            <a href="/pationt/pationt_setings">
              <i class="fas fa-user-cog"></i>
              <span>Profile Settings</span>
            </a>
          </li>
          <li class="<%= URL == "/resetPassword" ? "active" : "" %>">
            <a href="resetPassword">
              <i class="fas fa-lock"></i>
              <span>Change Password</span>
            </a>
          </li>
          <li>
            <a style="padding:0">
              <form method="post" action="/pationt/signOut"> 
                <button class="dropdown-item" style="padding:16px 20px">
                  <i class="fa fa-fw fa-sign-out-alt"></i>Sign Out
                </button>
              </form> 
            </a>           
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
