		
<%- include("../../include/head.ejs")  %> 
    <!-- Select2 CSS -->
    <link
      rel="stylesheet"
      href="/frontEnd/assets/plugins/select2/css/select2.min.css"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="/frontEnd/assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css"
    />

    <link
      rel="stylesheet"
      href="/frontEnd/assets/plugins/dropzone/dropzone.min.css"
    />
    <!-- Main CSS -->
	<style>
		body {
			background-color: #f8f9fa;
		}
	</style>
<body>
    <head>
        <!-- Main Wrapper -->
		<div class="main-wrapper">
            <%- include("../../include/naveBare.ejs")  %> 
			<!-- Page Content -->
						
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Profile Settings</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Profile Settings</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<%- include("../../include/doctorProfileAside.ejs")  %> 		
			            <div class="col-md-9">
							<form method="post" enctype="multipart/form-data">
								<!-- Basic Information -->
								<div class="card">
									<div class="card-body">
										<%- include("../../include/notification.ejs")  %> 
										<h4 class="card-title">Basic Information</h4>
										<div class="row form-row">
											<div class="col-md-12">
												<div class="form-group">
													<div class="change-avatar">
														<div class="profile-img">
															<img src="<%= doctor.doctorImage ? "/backEnd/assets/img/doctors/" + doctor.doctorImage.split("--")[0] : "/backEnd/assets/img/doctors/avatar.png" %>" alt="User Image">
														</div>
														<div class="upload-img">
															<div class="change-photo-btn">
																<span><i class="fa fa-upload"></i> Upload Photo</span>
																<input type="file" class="upload" name="doctorImage">
																<% if (validationError) { %>
																	<% if (validationError.doctorImage) { %>
																		<span class="text-danger"><%=validationError.doctorImage[0].msg %></span>
																	<% } %>
																<% } %>  
															</div>
															<small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Email <span class="text-danger">*</span></label>
													<input value="<%= doctor.email %>" name="email" type="email" class="form-control">
													<% if (validationError) { %>
														<% if (validationError.email) { %>
															<span class="text-danger"><%=validationError.email[0].msg %></span>
														<% } %>
													<% } %>  
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>First Name <span class="text-danger">*</span></label>
													<input name="fName" value="<%= doctor.fName %>" type="text" class="form-control">
													<% if (validationError) { %>
														<% if (validationError.fName) { %>
															<span class="text-danger"><%=validationError.fName[0].msg %></span>
														<% } %>
													<% } %>  
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Last Name <span class="text-danger">*</span></label>
													<input value="<%= doctor.lName %>" name="lName" type="text" class="form-control">
													<% if (validationError) { %>
														<% if (validationError.lName) { %>
															<span class="text-danger"><%=validationError.lName[0].msg %></span>
														<% } %>
													<% } %>  
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Phone Number</label>
													<input value="<%= doctor.phone %>" name="phone" type="number" class="form-control">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Gender</label>
													<select name="gender" class="form-control ">
														<option value="">Select</option>
														<option <%= doctor.gender == "1" ? "selected" : "" %> value="1">Male</option>
														<option <%= doctor.gender == "0" ? "selected" :"" %> value="0">Female</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /Basic Information -->
								
								<!-- About Me -->
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">About Me</h4>
										<div class="form-group mb-0">
											<label>Biography</label>
											<textarea name="aboutMe" class="form-control" rows="5"><%= doctor.aboutMe %></textarea>
										</div>
									</div>
								</div>
								<!-- /About Me -->
								
								<!-- Clinic Info -->
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">Clinic Info</h4>
										<div class="row form-row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Clinic Name</label>
													<input value="<%= doctor.Doctorclinic ? doctor.Doctorclinic.name : "" %>" name="clinic[name]" type="text" class="form-control">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Clinic Address</label>
													<input type="text" value="<%= doctor.Doctorclinic ? doctor.Doctorclinic.clinicAddress : "" %>" name="clinic[clinicAddress]" class="form-control">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label>Clinic Images</label>
													<input type="file" class="form-control" name="clinicImage">
												</div>
											</div>

											<% if ( doctor.Doctorclinic &&  doctor.Doctorclinic.clinicImage) { %>
												<div class="col-6">
													<div style="width:100px;height:100px">
														<img style="width:100%;height:100%" src="/backEnd/assets/img/doctors/<%= doctor.Doctorclinic.clinicImage.split("--")[0] %>" alt="">
													</div>
												</div>
											<% } %>
										</div>
									</div>
								</div>
								<!-- /Clinic Info -->

								<!-- Contact Details -->
								<div class="card contact-card">
									<div class="card-body">
										<h4 class="card-title">Contact Details</h4>
										<div class="row form-row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label">Address</label>
													<input  type="text" data-role="tagsinput" class="input-tags form-control" placeholder="Enter Services" name="Addres" value="<%= doctor.Addres %>" id="services">
												</div> 
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label">City</label>
													<input type="text" name="city" value="<%= doctor.city %>" class="form-control">
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label">Country</label>
													<input type="text" name="country" value="<%= doctor.country %>" class="form-control">
												</div>
											</div>

										</div>
									</div>
								</div>
								<!-- /Contact Details -->
								
								<!-- Pricing -->
								<div class="card">
									<div class="card-body">
									<h4 class="card-title">Pricing</h4>

									<div class="form-group mb-0">
										<div id="pricing_select">
										<div
											class="custom-control custom-radio custom-control-inline"
										>
											<input
											type="radio"
											id="price_free"
											name="rating_option"
											class="custom-control-input"
											value="price_free"
											<%= !doctor.isFree ? "checked" : "" %>
											/>
											<label class="custom-control-label" for="price_free"
											>Free</label
											>
										</div>
										<div
											class="custom-control custom-radio custom-control-inline"
										>
											<input
											type="radio"
											id="price_custom"
											name="rating_option"
											value="custom_price"
											class="custom-control-input"
											<%= doctor.isFree ? "checked" : "" %>
											/>
											<label class="custom-control-label" for="price_custom"
											>Custom Price (per hour)</label
											>
										</div>
										</div>
									</div>

									<div
										class="row custom_price_cont"
										id="custom_price_cont"
										style=<%= !doctor.isFree ? "display:none" : "display:block" %>
									>
										<div class="col-md-4">
										<input
											type="number"
											class="form-control"
											id="custom_rating_input"
											name="price"
											value="<%= doctor.price %>"
										/>
										<small class="form-text text-muted"
											>Custom price you can add with Eg</small
										>
										</div>
									</div>
									</div>
								</div>
								<!-- /Pricing -->
								
								<!-- Services and Specialization -->
								<div class="card services-card">
									<div class="card-body">
										<h4 class="card-title">Services and Specialization</h4>
										<div class="form-group">
											<label>Services</label>
											<input  type="text" data-role="tagsinput" class="input-tags form-control" placeholder="Enter Services" name="service" value="<%= doctor.service %>" id="services">
											<small class="form-text text-muted">Note : Type & Press enter to add new services</small>
										</div> 
										<div class="form-group mb-0">
											<label>Specialization </label>
											<select name="specialist" class="form-control">
												<option></option>
												<% specialist.forEach(element => { %>
												 	<option <%= doctor.specialist == element.id ? "selected" : "" %> value="<%= element.id %>"><%= element.name %></option>
												<% }) %>
											</select>
										</div> 
									</div>              
								</div>
								<!-- /Services and Specialization -->
							
								<!-- Education -->
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">Education</h4>
										<div class="education-info">
											<div class="row form-row education-cont">
												<div class="col-12 col-md-10 col-lg-11">
													<div class="row form-row">
														<div class="col-12 col-md-6 col-lg-4">
															<div class="form-group">
																<label>Degree</label>
																<input type="text" name="degree" value="<%= doctor.degree %>" class="form-control">
															</div> 
														</div>
														<div class="col-12 col-md-6 col-lg-4">
															<div class="form-group">
																<label>College/Institute</label>
																<input name="collega" value="<%= doctor.collega %>" type="text" class="form-control">
															</div> 
														</div>
														<div class="col-12 col-md-6 col-lg-4">
															<div class="form-group">
																<label>Year of Completion</label>
																<input name="Completion" value="<%= doctor.Completion %>" type="text" class="form-control">
															</div> 
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /Education -->
							
								<!-- Experience -->
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">Experience</h4>
										<div class="experience-info">
											<div class="row form-row experience-cont">
												<div class="col-12 col-md-10 col-lg-11">
													<div class="row form-row">
														<div class="col-12 col-md-6 col-lg-4">
															<div class="form-group">
																<label>Hospital Name</label>
																<input name="hospitalName" value="<%= doctor.hospitalName %>" type="text" class="form-control">
															</div> 
														</div>
														<div class="col-12 col-md-6 col-lg-4">
															<div class="form-group">
																<label>From</label>
																<input name="from" value="<%= doctor.from %>" type="text" class="form-control">
															</div> 
														</div>
														<div class="col-12 col-md-6 col-lg-4">
															<div class="form-group">
																<label>To</label>
																<input name="to" value="<%= doctor.to %>" type="text" class="form-control">
															</div> 
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /Experience -->
								
								<!-- Awards -->
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">Awards</h4>
										<div class="awards-info">
											<div class="row form-row awards-cont">
												<div class="col-12 col-md-5">
													<div class="form-group">
														<label>Awards</label>
														<input data-role="tagsinput" value="<%= doctor.awardes %>" class="input-tags form-control" name="awardes" type="text" class="form-control">
														<small class="form-text text-muted">Note : Type & Press enter to add new services</small>
													</div> 
												</div>
												<div class="col-12 col-md-5">
													<div class="form-group">
														<label>Year</label>
														<input data-role="tagsinput" value="<%= doctor.awardesDate %>" class="input-tags form-control" name="awardesDate" type="text" class="form-control">
														<small class="form-text text-muted">Note : Type & Press enter to add new services</small>
													</div> 
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /Awards -->
								
								<!-- Memberships -->
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">Memberships</h4>
										<div class="membership-info">
											<div class="row form-row membership-cont">
												<div class="col-12 col-md-10 col-lg-5">
													<div class="form-group">
														<label>Memberships</label>
														<input type="text" class="form-control">
													</div> 
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /Memberships -->
								
								<!-- Registrations -->
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">Registrations</h4>
										<div class="registrations-info">
											<div class="row form-row reg-cont">
												<div class="col-12 col-md-5">
													<div class="form-group">
														<label>Registrations</label>
														<input type="text" class="form-control">
													</div> 
												</div>
												<div class="col-12 col-md-5">
													<div class="form-group">
														<label>Year</label>
														<input type="text" class="form-control">
													</div> 
												</div>

												<div class="upload-img col-6" style="margin-bottom:20px">
													<h5>birth image</h5>
													<div class="divImage" style="height:150px">
														<img style="height:100%;width:150px" src="/backEnd/assets/img/doctors/<%= doctor.birthImage.split("--")[0] %>" alt="">
													</div>
												</div>
												<div class="upload-img col-6" style="margin-bottom:20px">
													<h5>graduate image</h5>
													<div class="divImage" style="height:150px">
														<img style="height:100%;width:150px" src="/backEnd/assets/img/doctors/<%= doctor.imageGraduate.split("--")[0] %>" alt="">
													</div>
												</div>


											</div>
										</div>
									</div>
								</div>
								<!-- /Registrations -->
								<input type="hidden" name="OldbirthImage" value="<%= doctor.birthImage %>">
								<input type="hidden" name="OldGraduation" value="<%= doctor.Graduation %>">
								<input type="hidden" name="OldclinicImage" value="<%= doctor.Doctorclinic ? doctor.Doctorclinic.clinicImage : "" %>">
								<input type="hidden" name="OlddoctorImage" value="<%= doctor.doctorImage %>">
								<input type="hidden" name="id" value="<%= doctor.id %>">
								<div class="submit-section submit-btn-bottom">
									<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
								</div>
							</form>
						</div>	
					</div>
				</div>
			</div>		
			<!-- /Page Content -->	
		</div>
		<!-- /Main Wrapper -->
        <%- include("../../include/footer.ejs")  %> 
        <%- include("../../include/footer_script.ejs")  %> 
		<!-- Custom JS -->
		<!-- Sticky Sidebar JS -->
        <script src="/frontEnd/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
        <script src="/frontEnd/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>
		
		<!-- Select2 JS -->
		<script src="/frontEnd/assets/plugins/select2/js/select2.min.js"></script>
		
		<!-- Dropzone JS -->
		<script src="/frontEnd/assets/plugins/dropzone/dropzone.min.js"></script>
		
		<!-- Bootstrap Tagsinput JS -->
		<script src="/frontEnd/assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>
		    <script src="/frontEnd/assets/js/profile-settings.js"></script>

		<!-- Custom JS -->
		<script src="/frontEnd/assets/js/script.js"></script>
    </body>
</head>