<%- include("../include/head")  %> 
<link rel="stylesheet" href="/frontEnd/assets/css/style.css">
    <link
      rel="stylesheet"
      href="/frontEnd/assets/plugins/select2/css/select2.min.css"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="/frontEnd/assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css"
    />

    <link
      rel="stylesheet"
      href="/frontEnd/assets/plugins/dropzone/dropzone.min.css"
    />
    <!-- Main CSS -->
	<style>
		body {
			background-color: #f8f9fa;
		}
	</style>
<%- include("../include/aside")  %> 
<%- include("../include/navePare")  %> 
<%- include("../include/alert")  %> 
</head>
    </body>
        <!-- Main Wrapper -->
        <div class="main-wrapper">
            <!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
                    <!-- Page Header -->
                    <div class="page-header">
                        <div class="row">
                            <div class="col-sm-7 col-auto">
                                <h3 class="page-title">Add Lab</h3>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/Labs/AllLabs">All Labs</a></li>
                                    <li class="breadcrumb-item active">Edit Lab</li>
                                </ul>
                            </div>
                        </div>
                        <%- include("../include/notification")  %> 
                    </div>
                    <!-- /Page Header -->
                    <div class="row">
			            <div class="col-md-12">
							<form method="post" enctype="multipart/form-data">
								<!-- Basic Information -->
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">Basic Information</h4>
										<div class="row form-row">
											<div class="col-md-12">
												<div class="form-group">
													<div class="change-avatar">
														<div class="profile-img">
															<img src="<%= Lab.image ? "/backEnd/assets/img/LabsImage/" + Lab.image.split("--")[0] : "/backEnd/assets/img/doctors/avatar.png" %>" alt="User Image">
														</div>
														<div class="upload-img">
															<div class="change-photo-btn">
																<span><i class="fa fa-upload"></i> Upload Photo</span>
																<input type="file" class="upload" name="image">
																<input type="hidden" value="<%= Lab.image %>" name="oldImage">
															</div>
															<small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label>name <span class="text-danger">*</span></label>
													<input name="name" value="<%= Lab.name %>" type="text" class="form-control">
													<% if (validationError) { %>
														<% if (validationError.name) { %>
															<span class="text-danger"><%=validationError.name[0].msg %></span>
														<% } %>
													<% } %>  
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>phone <span class="text-danger">*</span></label>
													<input value="<%= Lab.phone %>" name="phone" type="text" class="form-control">
													<% if (validationError) { %>
														<% if (validationError.phone) { %>
															<span class="text-danger"><%=validationError.phone[0].msg %></span>
														<% } %>
													<% } %>  
												</div>
											</div>
									
											<div class="col-6 " style="margin-bottom:20px">
												<div class="status-toggle">
													<label for="status_1">Section Activation Control</label>
													<input <%= Lab.isActive ? "checked" : "" %> name="isActive"  class="check" type="checkbox" id="status_1"></input>
													<label value="1" for="status_1" class="checktoggle">active</label>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>village <span class="text-danger">*</span></label>
													<input value="<%= Lab.village %>" name="village" type="text" class="form-control">
													<% if (validationError) { %>
														<% if (validationError.village) { %>
															<span class="text-danger"><%=validationError.village[0].msg %></span>
														<% } %>
													<% } %>  
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>province <span class="text-danger">*</span></label>
													<input value="<%= Lab.province %>" name="province" type="text" class="form-control">
													<% if (validationError) { %>
														<% if (validationError.province) { %>
															<span class="text-danger"><%=validationError.province[0].msg %></span>
														<% } %>
													<% } %>  
												</div>
											</div>

											<div class="col-md-12">
												<div class="form-group">
													<label>Lab image <span class="text-danger">*</span></label>
													<img style="width:150px;height:150px" src="/backEnd/assets/img/LabsImage/<%= Lab.image ? Lab.image.split("--")[0] : "avatar.png"  %>" name="province" type="text" class="form-control">  
												</div>
											</div>
									
											
										</div>
									</div>
								</div>
								<!-- /Basic Information -->

						
								<div class="submit-section submit-btn-bottom">
									<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
								</div>
							</form>
						</div>
                    </div>
                </div>			
            </div>
            <!-- /Page Wrapper -->


        <%- include("../include/footer_script")  %> 
        		
        
		<script src="/backEnd/assets/plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="/backEnd/assets/plugins/datatables/datatables.min.js"></script>

        <script src="/frontEnd/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
        <script src="/frontEnd/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>
		
		<script src="/frontEnd/assets/plugins/select2/js/select2.min.js"></script>
		
		<script src="/frontEnd/assets/plugins/dropzone/dropzone.min.js"></script>
		<script src="/frontEnd/assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>	
		<script src="/frontEnd/assets/js/profile-settings.js"></script>
        <script src="/backEnd/assets/js/script.js"></script>

    </head>
</body>