		
<%- include("../../include/head.ejs")  %> 
<body>
    <head>
        <!-- Main Wrapper -->
		<div class="main-wrapper">
            <%- include("../../include/naveBare.ejs")  %> 
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Favourites</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Favourites</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
                        <%- include("../../include/pationtProfileAside.ejs")  %> 
						<div class="col-md-7 col-lg-8 col-xl-9">
					        <div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-md-12 col-lg-6">
										
											<!-- Change Password Form -->
											<form method="post" >
												<div class="form-group">
													<label>Old Password</label>
													<input type="password" name="OldPassword" class="form-control">
                                                    <% if (validationError) { %>
                                                        <% if (validationError.OldPassword) { %>
                                                            <span class="text-danger"><%=validationError.OldPassword[0].msg %></span>
                                                        <% } %>
                                                    <% } %> 
												</div>
												<div class="form-group">
													<label>New Password</label>
													<input type="password" name="password" class="form-control">
                                                    <% if (validationError) { %>
                                                        <% if (validationError.password) { %>
                                                            <span class="text-danger"><%=validationError.password[0].msg %></span>
                                                        <% } %>
                                                    <% } %> 
												</div>
												<div class="form-group">
													<label>Confirm Password</label>
													<input type="password" name="ConfirmPassword" class="form-control">
													<input type="hidden" name="id" value="<%= user.id %>">
                                                    <% if (validationError) { %>
                                                        <% if (validationError.ConfirmPassword) { %>
                                                            <span class="text-danger"><%=validationError.ConfirmPassword[0].msg %></span>
                                                        <% } %>
                                                    <% } %> 
												</div>
												<div class="submit-section">
													<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
												</div>
											</form>
											<!-- /Change Password Form -->
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>		
			<!-- /Page Content -->	
		</div>
		<!-- /Main Wrapper -->
        <%- include("../../include/footer.ejs")  %> 
        <%- include("../../include/footer_script.ejs")  %> 
		<!-- Custom JS -->
		<!-- Sticky Sidebar JS -->
		<script src="/frontEnd/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
		<script src="/frontEnd/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

		<script src="/frontEnd/assets/js/script.js"></script>
    </body>
</head>